.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Включение вертикального скролла при необходимости */
    scrollbar-width: thin; /* Ширина полосы прокрутки */
    scrollbar-color: #999 #f7f7f7; /* Цвет полосы прокрутки и ее трека */
}

.container::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
}

.container::-webkit-scrollbar-track {
    background: #f7f7f7; /* Цвет трека полосы прокрутки */
}

.container::-webkit-scrollbar-thumb {
    background-color: #999; /* Цвет полосы прокрутки */
    border-radius: 4px; /* Скругление углов полосы прокрутки */
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Цвет полосы прокрутки при наведении */
}
