body {
    margin: 0;
    padding-bottom: 50px; /* Отступ снизу, равный высоте футера */
    position: relative;
    min-height: 100vh; /* Минимальная высота, чтобы футер прижимался к низу, если содержимое страницы недостаточно для заполнения всего экрана */
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text p {
    margin: 0;
}

.footer-buttons {
    display: flex;
    align-items: center;
}

.footer-button {
    margin-right: 10px;
}

.footer-button img {
    width: 30px; /* Подставьте подходящий размер */
    height: auto;
}

.footer-content {
    display: flex;
    flex-direction: column; /* Размещаем элементы вертикально */
    justify-content: center; /* Выравниваем элементы по вертикали */
    align-items: center; /* Выравниваем элементы по горизонтали */
    gap: 10px; /* Отступ между элементами */
    text-align: center; /* Выравниваем текст по центру */
}