::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  background: #008cff;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #015eaa;
}

