::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f7f7f700;
}

::-webkit-scrollbar-thumb {
  background: #4f2dbe;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4324a8;
}

